@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

:root {
  --primary-color: #ffca26;
  --primary-transparent: #ffca261a;

  --blue-transparent: #00a2ff50;
  --purple-transparent: #6a00ff50;

  --dark-gray: #222a35;
  --dark-gray-light: #293040;
}

::selection {
  background: var(--primary-color);
  color: var(--dark-gray-light);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background: linear-gradient(145deg, var(--dark-gray), var(--dark-gray-light));
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  filter: blur(150px);
  position: absolute;
}

.circle_purple {
  background: var(--purple-transparent);
  right: 50%;
  bottom: 50%;
}
.circle_blue {
  background: var(--blue-transparent);
  left: 50%;
  top: 50%;
}
.currency_converter {
  background: linear-gradient(
    210deg,
    #ffffff1a,
    var(--primary-transparent) 100%
  );
  padding: 32px;
  border-radius: 12px;
  border: solid 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.currency_converter_title {
  margin-bottom: 48px;
  text-align: center;
}

.currency_converter_input {
  width: 100%;
  padding-inline: 16px;
  padding-block: 8px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  outline: solid 2px transparent;
  transition: 150ms ease;
  margin-bottom: 40px;
}
.currency_converter_input:focus {
  outline: solid 2px var(--primary-color);
}

.currency_converter_select_group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}
.currency_converter_select {
  display: flex;
  align-items: center;
  gap: 8px;
}
.currency_converter_select img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.currency_converter_select select {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 600;
  outline: none;
  width: 75px;
  cursor: pointer;
}
.currency_converter_select select option {
  background: var(--dark-gray);
  font-size: 16px;
}
.currency_converter_select select::-webkit-scrollbar {
  background: var(--dark-gray-light);
}

.currency_converter_select select::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.currency_converter_swap_btn {
  background: var(--primary-color);
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 100ms ease;
}
.currency_converter_swap_btn:active {
  transform: scale(0.95);
}
.currency_converter_swap_btn i {
  color: var(--dark-gray);
  font-size: 24px;
}

.currency_converter_exchange_rate {
  border: solid 2px rgba(0, 0, 0, 0.2);
  padding-block: 12px;
  border-radius: 12px;
  margin-top: 32px;
  text-align: center;
  font-weight: 500;
  transition: 300ms ease;
}

.currency_converter_exchange_rate:hover {
    background: rgba(0, 0, 0, 0.2)
}

.currency_converter_convert_btn{
    width: 100%;
    margin-top: 24px;
    padding-block: 6px;
    background: var(--primary-color);
    color: var(--dark-gray);
    border-radius: 99px;
    font-weight: 600;
    border: solid 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 150ms ease;
    font-size: 18px;
}
.currency_converter_convert_btn:active{
    transform: scale(0.95);
}